.footer {
    position: relative;
    left: 0;
    margin-top: 2652px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
    text-align: center;
  
}
.footer p{
    margin-bottom: -80px;
}
.footer_redes ul li{
	display: inline-block;
    margin-right: 10px;
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer_redes ul li a{
	border: 3px solid rgb(255, 145, 0);
	display: block;
    padding:10px;
    
}
.footer_redes ul li a:hover{
	border-color:#fff;
}
.footer_contato{
    position: relative;
    text-align: left;
    left: 0;
    color: rgb(255, 145, 0);
    font-size: 14px;
    text-transform: uppercase;
}